*{
	padding: 0;
	margin: 0;
}

body{
	color:rgb(82, 51, 153);
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 22px;
}

.caja {
	background:rgb(0, 81, 255);
	width: 200px;
	

	margin: 20px; 
	padding: 20px; 
	border: 10px solid #000;
}

.caja p{

	background:rgb(22, 226, 216);
}